<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.FightforSeven.mapper.RoleMapper">
    <!-- 获取用户名 -->
    <select id="selectUsername" parameterType="string">
        select * from t_role where username = #{username}
    </select>
    
    <!-- 获取角色 -->
    <select id="getRole" parameterType="string" resultType="role">
        select * from t_role where account = #{account}
    </select>
    
    <!-- 添加角色 -->
    <insert id="insertRole" parameterType="role">
        insert into t_role(account, select_index, username) values (#{account}, #{selectIndex}, #{username}))
    </insert>
    
    <!-- 更新角色 -->
    <update id="updateRole" parameterType="role">
        update t_role set username = #{username} where account = #{account}
    </update>
</mapper>